@import '../../constants/colors.scss';

.avatarContainer {
	position: fixed;
	top: 2vh;
	right: 2vh;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4em;
	height: 4em;
	background-color: transparent;
	background-color: $primary-violet;
	transition: all 0.5s ease-out;
	z-index: 2;
}

.avatarContainer:hover {
	transform: scale(1.1);
}
