.form {
	display: flex;
	gap: 15px;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
	justify-content: center;
	min-height: 50px;
	height: 5%;
}

.form button {
	width: 10%;
	height: 100%;
}
