{
	"arrowParens": "avoid",
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 4,
	"semi": false,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "none",
	"importOrder": [
		"react",
		"redux",
		"nirvana-uikit",
		"<THIRD_PARTY_MODULES>",
		"pages/",
		"entities/",
		"types",
		"shared/",
		"config",
		"utils/",
		"hooks/",
		".svg",
		"^../(.*)$",
		"(?=./*.module.scss)"
	],
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["jsx", "typescript"]
}
