.favoritesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
	height: 100%;
}

.nothingHereContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 479px) {
	.favoritesPage {
		margin-top: 5em;
		margin-left: 3em;
	}
}
