@import '../../../shared/constants/colors.scss';

.buttons {
	position: relative;
	display: grid;
	place-items: center;
	height: fit-content;
	width: fit-content;
	transition: 0.3s;
	border-radius: 50%;

	&:hover {
		padding: 60px;
	}
}

.mainButton {
	position: relative;
	display: grid;
	place-items: center;
	padding: 5px;
	border: none;
	background: $minor-grey;
	border-radius: 50%;
	transition: 0.2s;
	z-index: 100;
}

.button {
	position: absolute;
	display: grid;
	place-items: center;
	padding: 5px;
	border: none;
	background: $minor-grey;
	transition: 0.3s;
	border-radius: 50%;
}

.discordButton:hover {
	background: #5865f2;
}

.buttons:hover .discordButton {
	translate: 50px 0px;
}

.twitterButton:hover {
	background: #1ca1f1;
}

.buttons:hover .twitterButton {
	translate: 37px -37px;
}

.instagramButton:hover {
	background: #f914af;
}

.buttons:hover .instagramButton {
	translate: 0px -50px;
}

.telegramButton:hover {
	background: #0093ff;
}

.buttons:hover .telegramButton {
	translate: -37px -37px;
}


.whatsappButton:hover {
	background: #25d366;
}

.buttons:hover .whatsappButton {
	translate: -50px 0px;
}
