$input-color: #2A2630;
$input-button-color: #F3F3F3;
$button-background-color: #6360FF;
$button-background-color-box: #6360FF;
$button-hover-color: #6360FF;
$li-colors: (#F3F3F3);
$li-colors-box: (#5EE9BF);
$input-width: 100%;
$input-height: 40px;
$input-border: 0.1px solid #5EE9BF;
$input-padding: 10px;
$button-border: none;
$button-width: 200px;
$b: 1.5em;

.form {
	.wrapper {
		position: relative;
		transform: skewY(-14deg);

		li,
		button,
		.blurred {
			position: relative;
			list-style: none;
			margin-bottom: 4px;
			width: $button-width;
			z-index: var(--i);
			transition: 0.3s;
			border-radius: 4px;
			color: #F3F3F3;
            filter: blur(5px);
		}

		li::before,
		button::before {
			position: absolute;
			content: '';
			background: $button-background-color-box;
			top: 0;
			left: -40px;
			width: 40px;
			height: 40px;
			transform-origin: right;
			transform: skewY(45deg);
			transition: 0.3s;
			filter: blur(15px);
		}

		li::after,
		button::after {
			position: absolute;
			content: '';
			background: $button-background-color-box;
			width: $button-width;
			height: 40px;
			top: -40px;
			left: 0;
			transform-origin: bottom;
			transform: skewX(45deg);
			transition: 0.3s;
			filter: blur(15px);
		}

		@for $i from 1 through length($li-colors) {
			$color: nth($li-colors, $i);

			li:nth-child(#{$i})::after,
			li:nth-child(#{$i})::before,
			.blurred:nth-child(#{$i})::after,
			.blurred:nth-child(#{$i})::before {
				background-color: $li-colors-box;
			}

			li:nth-child(#{$i}) .input {
				background: $color;
			}

			li:nth-child(#{$i}) .input:focus {
				outline: none;
				border: 3.5px solid $li-colors-box;
			}
		}

		li:hover,
		button:hover,
		.blurred:hover {
			transform: translateX(-20px);
            filter: blur(0px);
		}

		button:hover,
		button:hover::before,
		button:hover::after,
		.blurred:hover,
		.blurred:hover::before,
		.blurred:hover::after {
			background: $button-hover-color;
		}

		button:active,
		.blurred:active {
			transform: translateX(0px);
		}
	}

	.input,
	button,
	.blurred {
		width: $input-width;
		height: $input-height;
		position: relative;
		padding: $input-padding;
		border: none;
	}

	button,
	.blurred {
		background: $button-background-color;
		border: $button-border;
	}

	li .input,
	.blurred {
		outline: none;
		border: none;
		color: $input-color;
		border-radius: 4px;
		&::placeholder {
			color: $input-color;
		}
	}
}
