@import '../../shared/constants/colors.scss';

.container {
	width: 90%;
	height: 100%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin: 20px;
	gap: 20px;
	background-color: transparent;
}

.buttonContainer {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.avatar {
	display: none;
}

.container span {
	text-transform: uppercase;
}

.container button span {
	text-transform: none;
}

.formContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.formContainer form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
	border: solid 1px $primary-grey;
	padding: 1em;
	border-radius: 4px;
}

.accountFormContainer form {
	display: flex;
	align-items: center;
}

.redButton {
	width: 10%;
	min-height: 3em;
	border: none;
	background-color: transparent;
	color: $minor-red;
	text-align: center;
	border: solid 1px $minor-red;
	border-radius: 4px;
	transition: ease-in-out;
}

.redButton:hover {
	background-color: $minor-red;
	color: $primary-white;
	box-shadow:
		0 0 5px $minor-red,
		0 0 25px $minor-red,
		0 0 50px $minor-red;
}

.inputContainer {
	display: flex;
	align-items: center;
	width: 30%;
}

.visibilityButton {
	width: 2%;
	height: 100%;
}

@media screen and (max-width: 479px) {
	.formContainer {
		padding: 0;
		form {
			flex-direction: column;
			flex-wrap: wrap;
		}
		div {
			width: 100% !important;
		}
		.visibilityButton {
			width: 10% !important;
		}
		width: 90%;
		gap: 5px;
		margin-top: 10px;
	}
	.redButton {
		width: 100%;
		margin-top: 10px;
	}
	.container {
		margin-top: 20%;
		margin-bottom: 10%;
		height: 100vh;
		overflow-y: scroll;
		gap: 5px;
	}
}
