.cardsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1em;
}

.cardsFlowContainer {
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 2em;
	width: 90%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5em;
}

.buttonsContainer {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-right: 1em;
}

@media screen and (max-width: 479px) {
	.emailContainer {
		width: 80%;
	}
	.cardsContainer {
		align-items: baseline;
	}
}
