

.cardsContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.cardsFlowContainer {
	margin-bottom: 20px;
	margin-left: 2%;
	margin-right: 2%;
	width: 95%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.buttonsContainer {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-right: 20px;
}
