$primary-grey: #434544;
$primary-black: #2a2630;
$primary-white: #f3f3f3;
$primary-green: #5ee9bf;
$primary-blue: #2f69ff;
$primary-violet: #6360ff;
$primary-pink: #a16ae8;

$minor-grey: #bdbebe;
$minor-violet: #b19ff9;
$minor-pink: #db55d4;
$minor-dark-pink: #b537b5;
$minor-blue: #2105d0;
$minor-red: #bb0310;
