@import '../../constants/colors.scss';

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	background: hsla(223, 100%, 59%, 1);
	background: linear-gradient(
		45deg,
		hsla(223, 100%, 59%, 1) 0%,
		hsla(241, 100%, 69%, 1) 20%,
		hsla(162, 76%, 64%, 1) 94%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(223, 100%, 59%, 1) 0%,
		hsla(241, 100%, 69%, 1) 20%,
		hsla(162, 76%, 64%, 1) 94%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(223, 100%, 59%, 1) 0%,
		hsla(241, 100%, 69%, 1) 20%,
		hsla(162, 76%, 64%, 1) 94%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2F69FF",endColorstr="#6360FF",GradientType=1);
}

.promoContainer {
	width: 60vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginContainer {
	width: 40vw;
	height: 100vh;
	border: 0px transparent solid;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	display: flex;
	gap: 70px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $primary-white;
	box-shadow: 0px 5px 50px $primary-grey;
}

.formContainer {
	margin-left: 20px;
	margin-top: 20px;
	width: 50%;
}
