@import '../../../shared/constants/colors.scss';

.code {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.code input {
	width: 30px;
	height: 40px;
	text-align: center;
	background-color: transparent;
	border: none;
	border-bottom: solid 2px $primary-violet;
	font-size: 20px;
	color: $primary-black;
	outline: none;
}
